Repository cwtickle/danoniplus, pull requests merged in 2019-10, with the labels that each got.

#462 [gauge-setting] ゲージ設定が一部初期値になる問題を修正
  js/danoni_main.js
Labels: bug, func:Settings

#463 [ver8.6.2] ゲージ設定が一部初期値になる問題を修正
  js/danoni_main.js
Labels: bug, func:Settings

#464 [0075-clear-window] 初回読込時のclearWindowをカット 他
  js/danoni_main.js
Labels: func:Loading

#467 作品別ローカルストレージのキーからscoreIdを取り除く
  js/danoni_main.js
Labels: func:Loading, func:Result

#468 [0078-result-url] リザルトコピーのURL表示からscoreIdを除去
  js/danoni_main.js
Labels: func:Result

#469 [ver8.7.0] ローカルストレージ（作品別）のキーからscoreIdを除去　他
  js/danoni_main.js
Labels: func:Loading, func:Result

#470 fpsが小数の時に時間表示が動かなくなる不具合の修正
  js/danoni_main.js
Labels: bug, func:Main

#471 [ver8.7.1] fpsが小数の場合にタイマーが作動しない問題を修正
  js/danoni_main.js
Labels: bug, func:Main

#472 [0080-escape-html] エスケープ文字の適用順序誤りを修正
  js/danoni_main.js
Labels: bug, func:Main

#473 [0080-escape-html(2)] エスケープ文字の修正
  js/danoni_main.js
Labels: bug, func:Main

#474 [ver8.7.2] エスケープ文字の適用順序誤りを修正
  js/danoni_main.js
Labels: bug, func:Main

#478 [ver8.7.3] 速度変化が同一フレームにあると正常に動作しなくなる不具合の修正
  js/danoni_main.js
Labels: bug, func:Loading

#476 [0079-appearance] Hidden/Suddenオプションの実装
  css/danoni_main.css
  js/danoni_main.js
  js/danoni_setting.js
Labels: func:Main, func:Settings

#479 [ver9.0.0] Appearanceオプションの実装
  css/danoni_main.css
  js/danoni_main.js
  js/danoni_setting.js
Labels: func:Main, func:Settings

#481 [0081-frzstart-calc] 低速時かつフリーズアロー開始判定時にPF判定が早まる問題を修正
  js/danoni_main.js
Labels: bug

#482 [ver9.0.1] 低速時かつフリーズアロー開始判定時にPF判定が早まる問題を修正
  SECURITY.md
  js/danoni_main.js
Labels: bug

#483 [0082-dummyId] ダミーIDの譜面ヘッダー誤りを修正
  danoni/danoni3.html
  js/danoni_main.js
Labels: bug

#484 [ver9.0.2] ダミー譜面指定の譜面ヘッダー誤りを修正
  danoni/danoni3.html
  js/danoni_main.js
Labels: bug

#485 [0083-dummy-frame] ダミー用カスタム変数が定義できない問題を修正
  js/danoni_main.js
Labels: bug

#486 [ver8.0.3] ダミー矢印用カスタム関数が定義できない問題を修正
  js/danoni_main.js
Labels: bug

#488 [0084-mask-clear-all] back/mask_dataにおいてオールクリアできない問題を修正
  js/danoni_main.js
Labels: bug, func:Main

#487 2譜面目以降で背景、矢印モーションが指定されていない場合、1譜面目のデータを読み込むように変更
  js/danoni_main.js
Labels: func:Main

#489 [ver9.1.0] 矢印・背景モーションの補完機能追加　他
  js/danoni_main.js
Labels: bug, func:Main

#492 [0085-code-refactoring] コード見直し
  js/danoni_main.js
Labels: func:Main

#493 [ver9.2.0] フリーズアローヒット部分の描画変更 他
  js/danoni_main.js
Labels: func:Main

#494 [0086-switch-button] キーコンフィグ画面からDisplay画面にも戻れるように対応
  js/danoni_main.js
Labels: func:KeyConfig, func:Settings

#495 [0087-ready-delay] Ready表示の遅延フレーム設定を追加
  js/danoni_main.js
Labels: func:Main

#497 [0089-reverse-lyrics] リバース用のword_dataを実装
  js/danoni_main.js
Labels: func:Main

#498 [ver9.3.0] Ready表示の遅延フレーム設定　他
  js/danoni_main.js
Labels: func:KeyConfig, func:Main, func:Settings

#496 [0088-custom-gauge] カスタムゲージの実装
  css/danoni_main.css
  js/danoni_main.js
  js/danoni_setting.js
Labels: func:Settings

#499 [ver9.4.0] カスタムゲージの実装
  css/danoni_main.css
  js/danoni_main.js
  js/danoni_setting.js
Labels: func:Settings

#500 [0090-frzhit-colors] 個別色変化時にフリーズアロー(AA)ヒット時の色が変わらない問題を修正
  js/danoni_main.js
Labels: bug, func:Main

#501 [0091-gauge-start] ゲージ詳細のライフ初期値を整数に変更
  js/danoni_main.js
Labels: func:Settings

#502 [ver9.4.1] 個別色変化時のフリーズアロー(AA)ヒット時の色が変化しない問題を修正　他
  js/danoni_main.js
Labels: bug, func:Main, func:Settings

#504 [0092-ready-delay-adjustment] Ready?の遅延フレーム設定でAdj.が反映されていない問題を修正
  js/danoni_main.js
Labels: bug, func:Main

#505 [0093-gauge-initial] danoni_setting.jsのSuddenDeath初期値を変更
  js/danoni_setting.js
Labels: func:Loading

#506 [ver9.4.2] Ready?の遅延フレーム設定でAdj.が反映されていない問題を修正 他
  js/danoni_main.js
  js/danoni_setting.js
Labels: bug, func:Loading, func:Main

#508 [0094-gauge-improve] ゲージ設定明細のレイアウトを修正
  css/danoni_main.css
  js/danoni_main.js
Labels: func:Settings

#509 [ver9.4.3] ゲージ設定明細のレイアウトを修正
  css/danoni_main.css
  js/danoni_main.js
Labels: func:Settings

#510 [0095-gauge-initial] ライフ固定/変動フラグを記述しているコードを集約
  js/danoni_main.js
Labels: func:Settings

#511 [0096-shift-css] 一部処理をCSSに移行
  css/danoni_main.css
  img/aaShadow.png
  img/arrow.png
  img/arrowShadow.png
  img/c.png
  img/giko.png
  img/iyo.png
  img/monar.png
  img/morara.png
  img/onigiri.png
  js/danoni_main.js
Labels: func:Loading, func:Settings

#512 [0096-shift-css(2)] mask-imageをjs側に片寄せ（オブジェクト変更の準備）
  css/danoni_main.css
  js/danoni_main.js
Labels: func:KeyConfig, func:Main

#513 [0097-auto-preload] 背景・マスクに対象拡張子のデータがあれば、自動でpreloadするように変更
  danoni/danoni1.html
  js/danoni_main.js
Labels: func:Main, func:Result, func:Title

#514 [0099-shift-css-color] スキン機能の実装
  css/danoni_default.css
  css/danoni_light.css
  css/danoni_main.css
  js/danoni_main.js
Labels: func:KeyConfig, func:Main, func:Result, func:Settings, func:Title
