Repository cwtickle/danoniplus, pull requests merged in 2022-12, with the labels that each got.

#1368 feat: [0621] ヘルプのリンクを言語別に切替できるよう変更
  README.md
  js/danoni_main.js
  js/lib/danoni_constants.js
Labels: func:Title

#1371 不要引数削除、セミコロン抜け修正
  js/danoni_main.js
  js/lib/danoni_constants.js
  js/lib/danoni_legacy_function.js
  js/lib/danoni_localbinary.js
  js/template/danoni_setting.js
Labels: code-refactoring

#1374 fix: [0625] フリーズアローの始点判定有のとき、始点判定でNGを出すと矢印側判定が二重になる問題を修正
  js/danoni_main.js
Labels: bug, func:Main

#1376 fix: [0626] フリーズアロー始点判定有で遅ショボーンを出したときに二重判定することがある問題を修正
  js/danoni_main.js
Labels: bug, func:Main
