Repository cwtickle/danoniplus, pull requests merged in 2024-03, with the labels that each got.

#1627 フリーズアローの判定処理を修正
  js/danoni_main.js
Labels: bug, func:Main, need-to-fix-supportVer.

#1628 chore: [0785] フリーズアロー判定部分のコメントを補完
  js/danoni_main.js
Labels: func:Main

#1630 fix: [0786] カスタムキー定義のkeyGroupOrderがコピーされない問題を修正
  js/lib/danoni_constants.js
Labels: bug, func:KeyConfig

#1632 fix: [0787] カスタムキー定義のflatModeXのローカル保存後、その情報が取り出せない問題を修正
  js/lib/danoni_constants.js
Labels: bug, func:KeyConfig
